.mes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 8px 10px 8px;
    height: 40px;
    width: auto;
    border-radius: 100px;
    border: 0px;
}

.mes-button p {
    font-family: Roboto;
    font-size: 14px;
    color: #49454F;
    font-weight: 500;
}
