.box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.box-label {
    font-family: Inter;
    font-size: 16px;
    color: #1E1E1E;
}

.box-input-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.box-input {
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
    resize: none;
}
